class SecurityConfig {
  // Rename this file to security_config.dart and replace the key below.
  // The key must be unique and very hard to guess.
  
  // The key must be exactly 32 characters long.
  static const String backupSecretKey = "dummy_key_do_not_use_in_production";

  // The backupIv must be exactly 16 characters long.
  static const String backupIv = "dont_use_in_prod";
}